*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
    background-color: #000;
}
.header{
    background-color: #C97B4E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 3px 3%;
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo a{
    color: #000;
    text-decoration: none;
}
.header .logo a:hover{
    color: #fff;
}
.header .menu{
    list-style: none;
}
.header .menu li{
    display: inline-block;
    padding:  0 10px;
}
.header .menu a{
    font-size: 600;
    color:#000;
    text-decoration: none;
}
.header .menu li a:hover{
    color: #fff;
}
.titulo{
    background-image: url(/assents/img/caracteristicas.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff; 
    height: 1000px;
}
.title1{
    padding: 300px 200px 100px 120px; /*arriba, derecha, abajo, izquierda*/
    text-align: left;
    margin-left: 100px;
    font-size: 50px;
}
.title2{
    padding-left: 200px;
    text-align: center;
    font-size: 150px ;
    margin: auto;
}
.tabla{
    background-image: url(/assents/img/caracteristicas2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 30px;
}
table {
    width: 95%;
    border-collapse: collapse;
    margin: 30px auto;
    color: #fff;
}
table, th, td{
    border: 1px solid black;
}
th{
    background-color: #EAEFE6;
    color: #000;
}
td{
    background-color: #D4E0E2;
    color: #000;
}
th, td{
    padding: 15px;
    text-align: center;
}
.texto{
    text-align: left;
    align-self: flex-end;
}
.texto a{
    color: #fff;
}
.piepagina p{
    height: 80px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}