*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
    background-color: #000;
}
.header{
    background-color: #C97B4E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 3px 3%;
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo a{
    color: #000;
    text-decoration: none;
}
.header .logo a:hover{
    color: #fff;
}
.header .menu{
    list-style: none;
}
.header .menu li{
    display: inline-block;
    padding:  0 10px;
}
.header .menu a{
    font-size: 600;
    color:#000;
    text-decoration: none;
}
.header .menu li a:hover{
    color: #fff;
}
.piepagina p{
    height: 80px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.todo{
    display: flex;
}
.lo p{
    color: #fff;
}