*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
    background-color: #000;
}
.header{
    background-color: #C97B4E;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    padding: 3px 3%;
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}
.header .logo a{
    color: #000;
    text-decoration: none;
}
.header .logo a:hover{
    color: #fff;
}
.header .menu{
    list-style: none;
}
.header .menu li{
    display: inline-block;
    padding:  10px;
}
.header .menu a{
    font-size: 600;
    color:#000;
    text-decoration: none;
}
.header .menu li a:hover{
    color: #fff;
}

section{
    margin: 80px;
    display: flex;
    align-content: space-between;
}
section .todo .title{
    color: #fff;
    font-size: 64px;
    display: flex;
}
section .todo .historia{
    color: #fff;
    font-size: 30px;
    display: flex;
    margin-right: 50px;
}
.divimages{
    /*display: flex;*/
    background-color: #000;
    border-radius: 20px;
}
.images{
    width: 600px; 
    height: 350px;   
}

.piepagina p{
    height: 80px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}